.header {
    padding: 0 16px;

    .title {
        font-size: 32px;
        text-align: center;
    }
}

.main {
    padding: 16px;
}

.btn {
    margin: 0;
    padding: 12px 32px;
    border: 1px solid gray;
    border-radius: 4px;
    background: transparent;
    font-size: 24px;

    &:hover {
        cursor: pointer;
        background: grey;
        color: white;
        border-color: white;
    }
}

.list {
    margin: 0;
    padding: 16px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.listItem {
    padding: 16px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.itemYear {
    font-size: 18px;
    font-weight: 700;
}

.itemTitle {
    font-size: 16px;
}

.errorWrapper {
    margin-top: 20px;
}
